{#
/**
 * @file sponsor.html.twig
 * Default theme implementation to present Sponsor data.
 *
 * This template is used when viewing Sponsor pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sponsor()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass(['sponsor', 'tw-flex']) }}>
  {% if content %}
    <a href="{{ content.field_website[0] }}" title="{{ content.name[0] }}" class="tw-flex tw-flex-col tw-justify-between tw-border-0">
      <div class="tw-flex tw-flex-col tw-flex-1 tw-justify-center tw-mx-2">
        {{ content.field_logo }}
      </div>

      {{ content.name }}
    </a>
  {% endif %}
</div>
