{%
set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  <a href="{{ url }}" title="{{ label[0] }}" class="tw-flex tw-flex-col-reverse tw-items-center tw-mb-6 tw-border-0">
    {{ label }}
    {{ content }}
  </a>
</div>
